:host {
    display: block;
    padding: 0 1rem;
    word-wrap: break-word;
}

section {
    max-height: 85vh;
    overflow-y: auto;
    // * Handset
    @media screen and (max-width: 599.98px) and (orientation: portrait), (max-width: 959.98px) and (orientation: landscape) {
        max-height: 30vh;
    }
}

.titles-list {
    list-style-type: none;
    padding: 0 1rem;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
        margin-bottom: .8rem;
    }

    li > a {
        text-decoration: none;
        transition: 250ms;
        color: rgba(#000, .87);

        &:hover {
            color: var(--mat-primary);
        }

        &.selected {
            color: var(--mat-primary) !important;
        }
    }
}