:host {
    display: block;
    padding: 0 1rem;
    word-wrap: break-word;
    max-height: 85vh;
    overflow-y: auto;
}

.tags-list {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
}
